#page-create-point{
    width:90% ;
    max-width: 1100px;
    
    margin: 0 auto;
    /* alinhamento da caixa pelo lado de fora da caixa */
}

#page-create-point header{
    margin-top: 48px;
    
    display: flex;
    /* alinhamento da caixa pelo lado de dentro */

    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

form{
    background-color: white;
    
    margin: 80 auto;
    /* espaçamento */

    padding: 64px ; 
/*  preenchimento */

    border-radius: 8px;

    max-width: 730px;

    
}


form h1{
    font-size: 36px;

}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

form legend h2{
    font-size: 24px;
    width: 50% ;
}
form  legend span{
   
    /* coloquei float para alinhar */
    /* float: right; */
    color: var(--title-color);
    font-size: 16px;

  

    width: 50%;
}

form .field{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* alinhar em colunas */

    margin-bottom:24px ;

    
}

form .field-group {
    /* Display unidimensional */
    display: flex;

}

form input, form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;
    outline: none;
    /* tira a marcação de texto */
}

/* resetando os opptions do mozila e do chrome */
form select{
    -webkit-appearance: none; 
    /* chrome */
    -moz-appearance: none;
    /* mozila */
    appearance: none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}


/* Selecionando os segundos inputs para dar espaço */
form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    /* largura */
    width: 260px;
    /* largura */
    height: 56px;

    background-color: var(--primary-collor);
    border-radius: 8px;

    color: white;

    /* peso da fonte */
    font-weight: bold;

    border: 0;
    
    margin-top: 40px;
    
    /* tempo para mudar de cor */
    transition: 400ms;
}
/* quando passar o mouse em cima */
form button:hover{ 
    background-color: #2fb86e; 
}


.items-grid{
    /* Display multidimensional */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* define a margin de maneira mais rápida */
    gap: 16px;
}


.items-grid li{
    background-color:#f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;
    /* altura */
    height: 180px;

    /* espaçamento --32 topo 24 laterais 16 em baixo */
    padding: 32px 24px 16px; 

    display: flex;
    flex-direction: column;
    align-items: center;
    /* invertendo o direcionamento dos items */
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}

.items-grid li span{
    margin-top: 12px;
    flex:1;
    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected{
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span{
    /* para impedir que o js leia os clicks */
    pointer-events: none;
}

